body {
  margin: 0;
  padding: 0;
  background: #F8F8FC;
}

.text-success {
  color: #06B365;
}

.text-muted {
  color: #B6BABE;
}

.btn-default {
  background: #fff;
}
.btn-default:hover {
  background: #1361F0;
  color: #fff;
  border: 1px solid #1361F0;
}

.taskList {
  margin: 0 60px;
}
.taskList .table td,
.taskList .table th {
  line-height: 1;
  padding: 18px 8px;
  border-bottom-width: 1px;
  font-size: 14px;
}

.pager li a {
  background: #FFFFFF;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #D5D5D5;
  padding: 0 15px;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
}
.pager li a:hover {
  background: #1361F0;
  color: #fff;
  border: 1px solid #1361F0;
}

.media .media-left {
  position: relative;
}
.media .media-left.media-left-login {
  padding-right: 48px;
}

.platformList {
  margin: 0 50px;
}
.platformList .platformList-item {
  margin: 0 10px;
  display: inline-block;
  width: 31.2%;
  margin-bottom: 15px;
}
.platformList .platformList-item .btn-default {
  color: #1361F0;
  border: 1px solid #1361F0;
  font-size: 13px;
}
.platformList .platformList-item .btn-default:hover, .platformList .platformList-item .btn-default:focus {
  background: #1361F0;
  color: #fff;
}

.panel-default {
  border-color: #E8E8F6;
  cursor: pointer;
}
.panel-default:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}
.panel-default .panel-footer {
  height: inherit;
  overflow: hidden;
  line-height: 32px;
  background: #F8F8FC;
  border: none;
}

.container {
  padding: 0;
}
.container .breadcrumb {
  background: none;
  padding: 0;
  font-size: 16px;
}
.container-body {
  background: #Fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
  border-radius: 4px;
  margin-bottom: 60px;
  padding-bottom: 24px;
}
.container .row {
  padding: 0;
  margin: 0;
}
.container .tabs {
  height: inherit;
  overflow: hidden;
  border-bottom: 1px solid #F8F8F8;
  margin-bottom: 48px;
}
.container .tabs .tabs-item {
  height: 64px;
  line-height: 64px;
  display: inline-block;
  font-size: 16px;
  margin-left: 60px;
  cursor: pointer;
}
.container .tabs .tabs-item.no-active {
  cursor: default;
}
.container .tabs .tabs-item.no-active:hover {
  border: none;
  color: none;
}
.container .tabs .tabs-item:hover, .container .tabs .tabs-item.active {
  border-bottom: 2px solid #4F8DFF;
}
.container .tabs .tabs-item:hover a, .container .tabs .tabs-item.active a {
  color: #4F8DFF;
}
.container .tabs .tabs-item a {
  color: #252631;
}

a,
a:hover {
  text-decoration: none;
  color: #4F8DFF;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-wrapper {
  padding-top: 60px;
}
.header-wrapper.header-wrapper-white {
  padding-top: 0;
}
.header-wrapper.header-wrapper-white .header-content-dropdown {
  width: 640px;
  margin-left: 298px;
  position: fixed;
  z-index: 999;
}
.header-wrapper.header-wrapper-white .header-content-dropdown .container,
.header-wrapper.header-wrapper-white .header-content-dropdown .row {
  width: 100%;
}
.header-wrapper.header-wrapper-white .header-content-dropdown .list-inline {
  height: inherit;
  overflow: hidden;
}
.header-wrapper.header-wrapper-white .header-content-dropdown .list-inline > li {
  width: 20%;
  padding: 0;
  float: left;
  margin: 0;
}
.header-wrapper.header-wrapper-white .header-content-dropdown .list-inline > li > div {
  margin: 48px 0 48px 48px;
  font-size: 14px;
  line-height: 2;
}
.header-wrapper.header-wrapper-white .header-content-dropdown .list-inline > li > div > div {
  font-size: 16px;
  color: #333;
}
.header-wrapper.header-wrapper-white .header-content-dropdown .list-inline > li > div ul a {
  color: #888;
}
.header-wrapper.header-wrapper-white .header-content {
  background: none;
  position: inherit;
}
.header-wrapper.header-wrapper-white .header-content-right {
  color: #fff;
}
.header-wrapper.header-wrapper-white .header-content-right a {
  color: #fff;
}
.header-wrapper.header-wrapper-white .header-content-right .list-inline li {
  color: #fff;
}
.header-wrapper.header-wrapper-white .header-content-right .list-inline li .dropdown-toggle {
  color: #fff;
}
.header-wrapper.header-wrapper-white .header-content .nav .nav-item.logo div {
  width: 233px;
  height: 26px;
  background: url("./images/logo-black.png") no-repeat 0 0;
}
.header-wrapper.header-wrapper-white .header-content .nav .nav-item a {
  color: #999999;
}
.header-wrapper.header-wrapper-white .header-content .nav .nav-item a:hover, .header-wrapper.header-wrapper-white .header-content .nav .nav-item a.active {
  color: #252631;
}
.header-wrapper .badge {
  vertical-align: text-top;
  background: #F9204A;
  color: #fff;
  position: relative;
  right: 12px;
  top: -10px;
}
.header-wrapper .header-content {
  position: fixed;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #12223E;
}
.header-wrapper .header-content-right {
  color: #D8D8D8;
}
.header-wrapper .header-content-right .list-inline li {
  color: #D8D8D8;
}
.header-wrapper .header-content-right .list-inline li .dropdown-toggle {
  color: #D8D8D8;
}
.header-wrapper .header-content .nav .nav-item {
  position: inherit !important;
  vertical-align: middle;
}
.header-wrapper .header-content .nav .nav-item.logo {
  font-size: 0;
  padding: 0;
  margin-left: 20px !important;
}
.header-wrapper .header-content .nav .nav-item.logo img {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.header-wrapper .header-content .nav .nav-item.logo div {
  width: 233px;
  height: 26px;
  background: url("./images/logo.png") no-repeat 0 0;
}
.header-wrapper .header-content .nav .nav-item a {
  color: #D8D8D8;
  font-size: 16px;
  display: block;
  padding: 0 !important;
}
.header-wrapper .header-content .nav .nav-item a:hover, .header-wrapper .header-content .nav .nav-item a.active {
  font-size: 16px;
  color: #4F8DFF;
  position: relative;
  background: none;
}
.header-wrapper .header-content .nav .nav-item a:hover::after, .header-wrapper .header-content .nav .nav-item a.active::after {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2px;
  background: #4F8DFF;
  position: absolute;
  left: 50%;
  margin-left: -1em;
  bottom: 12px;
  border-radius: 1px;
}
.header-wrapper .header-content .dropdown-menu {
  left: auto !important;
  right: -8px;
}
.header-wrapper .header-content .dropdown-menu > li a {
  line-height: 32px;
}
.header-wrapper .header-content .dropdown-toggle {
  padding: 0 !important;
}
.header-wrapper .header-content .list-inline > li {
  display: inline-block;
  margin-left: 40px;
  color: #D8D8D8;
  font-size: 16px;
  padding-right: 0 !important;
}
.header-wrapper .header-content-dropdown {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
  display: none;
}
.header-wrapper .header-content-dropdown .list-inline {
  height: inherit;
  overflow: hidden;
}
.header-wrapper .header-content-dropdown .list-inline > li {
  width: 20%;
  padding: 0;
  float: left;
}
.header-wrapper .header-content-dropdown .list-inline > li > div {
  margin: 48px 0 48px 48px;
  font-size: 14px;
  line-height: 2;
}
.header-wrapper .header-content-dropdown .list-inline > li > div > div {
  font-size: 16px;
  color: #333;
}
.header-wrapper .header-content-dropdown .list-inline > li > div ul a {
  color: #888;
}

.bannerBox {
  background: url(./images/bg-banner.png) no-repeat 0 0;
  background-size: 100% 100%;
  padding-bottom: 110px;
  border-bottom: 1px dashed #999999;
}
.bannerBox .btn-default {
  color: #fff;
  background: #1361F0;
  border: none;
  font-size: 16px;
  width: 220px;
  height: 60px;
  line-height: 60px;
  padding: 0;
}
.bannerBox .btn-default:hover, .bannerBox .btn-default:focus {
  background: #1361F0;
  color: #fff;
}
.bannerBox-right-body {
  width: 640px;
  height: 480px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px 0px rgba(17, 52, 115, 0.08);
  border-radius: 10px;
}
.bannerBox-right-body .list-inline {
  margin: 0;
  padding: 0;
}
.bannerBox-right-body .list-inline li {
  padding: 0;
  width: 210px;
  color: #999999;
  text-align: center;
  border-bottom: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  padding-bottom: 31px;
}
.bannerBox-right-body .list-inline li.active {
  background: #FFFFFF;
  box-shadow: 0px 8px 30px 0px rgba(7, 42, 68, 0.1);
  border-radius: 10px 0px 0px 0px;
}
.bannerBox-right-body .list-inline li img {
  margin-bottom: 16px;
  margin-top: 32px;
}

.modal-loginBox .modal-dialog {
  width: 500px;
}
.modal-loginBox .modal-dialog .modal-body {
  padding: 50px 60px;
  position: relative;
}
.modal-loginBox .modal-dialog .modal-body .close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 18px;
}
.modal-loginBox .form-control {
  line-height: 36px;
  height: auto;
}
.modal-loginBox .btn-default {
  background: #1361F0;
  border: none;
  color: #fff;
  line-height: 50px;
  height: 50px;
  padding: 0;
  font-size: 16px;
}
.modal-loginBox .btn-default:hover {
  background: #1361F0;
  color: #fff;
}

/*# sourceMappingURL=content.css.map */
